<!DOCTYPE html>
<html>
<head>
  <title>Hello World</title>
</head>
<body>
<meta charset="UTF-8">
<h1>Đây là một trang web</h1>
<a href="https://baomoi.com/">News</a>

<p> Về những câu chuyện hài </p>
<!-- <body style="background-color:yellow;"> -->
<p style="font-family:courier;font-size:160%"> Chưa có dữ liệu &#128516</p>
<button onclick="myFunction()">Click search data product</button>
<script>
function myFunction() {
	 window.location.href = "http://localhost:8081/api/v1/Product"
}
</script>

<!--<img src="https://kenh14cdn.com/203336854389633024/2022/4/12/photo-1-16497693514121759450990.jpg" alt="ảnh gái :))"
	style="width:500px;height:800px;" > -->




</body>
</html>